<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/head") %>
    <title>Home</title> 
</head>

<body>
    <header>
        <%- include("../partial/header") %> 
    </header>
    <section class="banner">
        <img src="https://pbs.twimg.com/media/EJYbz_tXYAAZMk-.png" alt="ofertas">
    </section>
    <main>
        <section class="categories">
            <h2 class="titulo-main">CATEGORÍAS</h2>
            <% categories.forEach(categorie => { %>
            <a href="/categories/<%= categorie.id  %> "><%= categorie.name %> </a>
            <% }) %>   
        </section>
        <section class="sales">
            <h2>PRODUCTOS DESTACADOS</h2>
            
            <% products.forEach(producto => { %>
                <a href="/products/<%= producto.id %>">
                    <article class="sale-product">
                    <p><img src="./images/products/<%= producto.ProductImage %> " alt=""></p>
                    <p><%= producto.name%> </p>
                    <p><%="$" + producto.price %> </p>
                    </article>
                </a>
            <% }) %>
            </article>
    </main>
    <footer>
        <%- include("../partial/footer") %> >
    </footer>
</body>

</html>