<!DOCTYPE html>
<html lang="en">
<%- include ("../partial/head") %>
<body>
    <header>
    <%- include ("../partial/header") %>
</header>
<% productos.forEach(producto => { %>
    <a href="/products/<%= producto.id %>">
        <article class="sale-product">
        <p><img src="./images/products/<%= producto.ProductImage %> " alt=""></p>
        <p><%= producto.name%> </p>
        <p><%="$" + producto.price %> </p>
        <p>Categoria <%= producto.category %> </p>
        </article>
    </a>
<% }) %>
    <footer>
        <%- include ("../partial/footer") %> 
    </footer>
</body>
</html>