<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/head") %> 
</head>

<body>
    <header>
        <%- include ("../partial/header")  %> 
    </header>
    <section class="forms">
        <h1>Actualizar producto</h1>
        <form method="post" action="/products/update/<%= product.id %>?m=PUT" enctype="multipart/form-data">
            <section class="imputs">
                <input class="imput" type="text" name="name" id="name" placeholder="Nombre" value="<%= product.name %>">
                    <input type="text" class="imput" name="description" id="description" placeholder="Descripcion" value="<%= product.description %>">
                    <input class="imput" type="number" name="price" id="price" placeholder="Precio" value="<%= product.price %>">
                    <input class="imput" type="number" name="stock" id="stock" placeholder="Stock"value="<%= product.stock %>">
                    <input class="imput" type="file" name="ProductImage" id="ProductImage">
                <button type="submit">Guardar</button>
            </section>
        </form>
        <form method="POST" action="/products/delete/<%= product.id %>?m=DELETE" enctype="multipart/form-data">
            <button type="submit">Borrar producto</button>
        </form>
    </section>
    <footer>
        <%- include ("../partial/footer")  %> 
    </footer>
</body>

</html>