<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/head") %> 
</head>

<body>
    <header>
        <%- include ("../partial/header")  %> 
    </header>
    <section class="forms">
        <h1>Actualizar producto</h1>
        <form action="/products/updated/<%= product.id %>" method="" enctype="multipart/form-data">
            <section class="imputs">
                <label >Nombre</label>
                <input class="imput" type="text" name="name" id="name"value="<%= product.name %>">

                <label class="label">description</label>
                <input type="text" class="imput" name="description" id="description" value="<%= product.description %>">
                
                <label class="label">precio</label>
                    <input class="imput" type="number" name="price" id="price" value="<%= product.price %>">

                    <label class="label">stock</label>
                    <input class="imput" type="number" name="stock" id="stock" value="<%= product.stock %>">
                <button type="submit">Guardar</button>
            </section>
        </form>
        <form method="" action="/products/delete/<%= product.id %>" enctype="multipart/form-data">
            <button type="submit">Borrar producto</button>
        </form>
    </section>
    <footer>
        <%- include ("../partial/footer")  %> 
    </footer>
</body>

</html>