<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/head") %> 
</head>

<body>
    <header>
        <%- include ("../partial/header")  %> 
    </header>
    <h1>Actualizar un Producto</h1>
    <form action="/products/actualizar?m=PUT" method="post">
        <input type="hidden" name="id" value="<%= producto.id %> ">
        <fieldset>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Name" value="<%= producto.name %>">
        </fieldset>
        <fieldset>
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10"><%= producto.description %> </textarea>
        </fieldset>
        <fieldset>
            <label for="price">Price</label>
            <input type="number" min="1" name="price" id="price" value="<%= producto.price %>">
        </fieldset>
        <fieldset>
            <label for="stock">Stock</label>
            <input type="range" min="1" max="100" name="stock" id="stock" step="1" value="<%= producto.stock %>">
        </fieldset>
        <select class="imput" name="categorie" id="categorie">
            <option value="1">Categoria 1</option>
            <option value="2">Categoria 2</option>
            <option value="3">Categoria 3</option>
            <option value="4">Categoria 4</option>
            <option value="5">Categoria 5</option>
            <option value="6">Categoria 6</option>
        </select>
        <fieldset>
            <button type="submit">Guardar</button>
        </fieldset>
    </form>
    <form method="POST" action="/products/delete/<%= producto.id %>?m=DELETE">
        <button type="submit">Borrar producto</button>
    </form>
    <footer>
        <%- include ("../partial/footer")  %> 
    </footer>
</body>

</html>