<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <%- include("../partial/head") %> 
    <title>Ingreso de sesión</title>
</head>
<body>
    <header>
        <%- include("../partial/header") %> 
    </header>
    <h1 style="color: black; text-align: center;">¡BIENVENIDOS!</h1>
    <section class="forms">
        <form action ="/login" method="post">
            <section class="imputs">
                <label class="label<%= locals.errors && errors.email ? "_error" : null %> " for="email">Email</label >
                <input class="imput" type="text" name="email">
                <% if (locals.errors && errors.email) { %>
                    <span style="color: red; margin:auto"><%=  errors.email.msg  %></span>
                <% } %>

                <label class="label">Contraseña</label >
                <input class="imput" type="password" name="pass">
                <% if (locals.errors && errors.pass) { %>
                    <span style="color: red; margin:auto"><%=  errors.pass.msg  %></span>
                <% } %>
                <label class="label">
                    <input type="checkbox" name="remember_user">Recordar mis datos
                </label>
                <button type="submit">Ingresar</button>
            </section>                
        </form>
        <ul>
            <li>
                <a href="#">Olvidaste la contraseña?</a>
                <a href="/register">No tienes cuenta? Regístrate!</button></a>
            </li>
        </ul>
    </section>
<footer>
    <%- include("../partial/footer") %> >
</footer>
</body>
</html>