<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partial/head") %> 
</head>
<body>
    <header>
        <%- include("../partial/header") %> 
    </header>
    <section class="profile-card">
        <h1>Bienvenido <%= user.name %> !!! </h1>    
        <img src="/images/users/<%=user.avatar %> " alt="">
    </section>
    <footer>
        <%- include("../partial/footer") %> >
    </footer>
</body>
</html>