<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partial/head") %>
</head>
<body>
<header>
  <%- include("../partial/header") %>
</header>
    <h1 style="color: black; text-align: center;">REGISTRO DE USUARIOS</h1>
    <section class="forms">
        <form action="/register" method="post" enctype="multipart/form-data">
            <section class="imputs">
                <label class="label<%= locals.errors && errors.name ? "_error" : null %> " for="name">Nombre y Apellido</label >
                <input class="imput" type="text" name="name" value="<%= locals.oldData ? oldData.name : null %> ">
                
                <label class="label<%= locals.errors && errors.address ? "_error" : null %> " for="address">Direccion</label >
                <input class="imput" type="text" name="address" value="<%= locals.oldData ? oldData.adress : null %> ">

                <label class="label<%= locals.errors && errors.province ? "_error" : null %> "  for="province">Provincia</label >
                <input class="imput" type="text" name="province" value="<%= locals.oldData ? oldData.province : null %> ">

                <label class="label<%= locals.errors && errors.location ? "_error" : null %> " >Localidad</label >
                <input class="imput" type="text" name="location" value="<%= locals.oldData ? oldData.location : null %> ">

                <label class="label<%= locals.errors && errors.email ? "_error" : null %> "  for="email">Email</label >
                <input class="imput" type="email" name="email" value="<%= locals.oldData ? oldData.email : null %> ">
                <% if (locals.errors && errors.email) { %>
                    <span style="color: red ; margin: auto;"><%=errors.email.msg %> </span>
                <% } %>

                <label class="label<%= locals.errors && errors.pass ? "_error" : null %> " for="">Password</label >
                <input class="imput" type="password" name="pass">
                
                <% if (locals.errors && errors.avatar) { %>
                    <span style="color: red; margin: auto"> <%= errors.avatar.msg %></span>
                <% } %>
                <input class="imput" type="file" name="avatar" placeholder="Foto de perfil">
            </section>
                    <button type="reset">Borrar todo</button>
                    <button type="submit">Registrarse</button>
        </form>
    </section>
    <footer>
        <%- include("../partial/footer") %> >
    </footer>
</body>
</html> 